html {
  font-size: 16px; }

.welcomes {
  background: url(../images/welcome-background.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden; }

.fixed-top {
  background: #000000c4; }

.navbar-dark .navbar-brand {
  color: RGB(253 253 253/85%);
  font-size: 1.3rem;
  text-transform: uppercase; }

.navbar-dark .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: RGB(253255 255 255); }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253,253,253, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar-dark .navbar-toggler {
  color: RGB(253255 255 255);
  border-color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem; }

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem; }

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.95);
  transition: all .5s ease;
  text-align: center;
  margin: .3rem 0; }

.navbar-dark .navbar-nav .active > .nav-link {
  background: #F05F40;
  margin-top: 6px; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: RGBA(255 255 255);
  background: #f06040af; }

.text-welcome {
  color: #fff;
  margin-top: 7rem; }

.btn-primary {
  background-color: #F05F40;
  border-color: #c94726;
  transition: all .5s ease; }

.btn-primary:hover {
  color: #fff;
  background-color: #f17357;
  border-color: #f34318; }

.btn-check:focus + .btn-primary, .btn-primary:focus {
  background-color: #f17357;
  border-color: #f34318; }
